.content-table{
    border-collapse: collapse;
    margin:25px;
    width: 500px;
    font-size: 0.9em;
    min-width: 400px;
    font-size: 16px;
    padding-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-table thead tr{
    background-color:firebrick;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
}

.content-table thead th{
    padding-right: 15px;
}

.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom:1px solid rgb(201, 199, 199)  ;

}

.content-table tbody tr:nth-of-type(even){
    background-color: rgb(254, 209, 209);
    color: firebrick;
    font-weight: 600;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid firebrick ;
}